
.view-map-view {
  .geolocation-common-map {
    padding-bottom: 4rem;
    overflow: hidden;

    &-locations {
      @media (min-width: $screen-md-min) {
        padding-right: 2rem;
      }

      &-inner {
        max-height: 40rem;
        overflow-x: auto;

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          background-color: #D62929;
        }
      }

      .geolocation {
        padding: 0.8rem 2rem 1.8rem;
        border-top: solid .5rem $color-grey;

        .location {
          &-title {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin: 0;
          }

          &-content {
            font-size: 1.6rem;
            line-height: 2.4rem;

            p:last-child {
              margin-bottom: 0;
            }

            .read-more-link {
              @include read_more_link($color-orange)
            }
          }
        }

        &:last-child {
          border-bottom: solid .5rem $color-grey;
        }
      }
    }

    &-container {
      @media (max-width: $screen-tablet-max) {
        width: 100% !important;
        margin-top: 3rem;
      }

      .gm-style {
        .gm-style-iw-c {
          padding: 16px 20px 6px 20px !important;
          .location {
            &-title {
              font-size: 2.4rem;
              line-height: 3.2rem;
              margin: 0;
            }

            &-content {
              font-size: 1.6rem;
              line-height: 2.4rem;
              .views-field-field-address {
                font-weight: 400;
              }
              p:last-child {
                margin-bottom: 0;
              }

              .read-more-link {
                @include read_more_link($color-orange)
              }
            }
          }
        }
      }
    }
  }
}
