/**
 * @file
 * Forms
 *
 ****
 *
 * Buttons
 * Inputs 
 * Select List
 *
 ****
*/




/****
 *
 * Buttons
 *
 ****/
html input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button,
a.button {
	background-color:$color-red;
	border:2px solid $color-red;
	border-radius:5px;
	color:#fff;
	font-family:$font-family-condensed;
	font-size:1.8rem;
	line-height:1.3333;
	padding:1.65rem 2.6rem;
	text-transform:uppercase;
	display: inline-block;
	text-decoration: none;
	transition: $transition;

	&:hover,
	&:focus {
		color:$color-body;
		background:none;
	}
	//Sizes 
	&.button-small {
		padding: 1.15rem 2.6rem;
	}
	//colors
	&.button-gold {
		background-color: $color-yellow;
		border-color: $color-yellow;
		color: $color-blue;
		&:hover {
			background:none;
		}
	}	
	&.button-hollow-gold {
		background:none;
		border-color:$color-yellow;
		color:$color-yellow;
		&:hover {
			background:$color-yellow;
			color:$color-blue-dark;
		}
	}
	&.button-hollow-white {
		background:none;
		border-color:#fff;
		color:#fff;
		&:hover {
			background:#fff;
			color:$color-blue-dark;
		}
	}
	&.button-hollow-blue {
		background:none;
		border-color:$color-blue;
		color:$color-blue;
		&:hover {
			background:$color-blue;
			color:#fff;
		}
		&.cancel {
		}
	}
}

.button.disabled {
	cursor: not-allowed;
	opacity: 0.5;
	&:hover {
		background: auto;
		text-decoration: none;
	}
}




/****
 *
 * Inputs
 *
 ****/
label {
	color: #4A4A4A;
	display: block;
	font-family: $font-family-bold;
	font-size: 1.6rem;
	line-height: 1.3125;
	margin-bottom: 4px;
	text-align: left;
}
form {
	.form-item {
		margin: .25em 0 2.5rem;
	}
	
	input[type='search'],
	input[type='text'],
	input[type='email'],
	.form-textarea,
	textarea,
	.form-text,
	select {
		box-sizing: border-box;
		display: inline-block;
		border:2px solid #CCCCCC;
		border-radius:6px;
		box-shadow:none;
		padding: 1.05rem 1.7rem;
		transition: $transition;
		-webkit-appearance: none;
		width: 100%;
		&:focus {
			box-shadow: none;
			border-color:$color-blue;
			outline: 0 none !important;
		}
	}
	
	textarea:focus {
		border-color: $color-blue-dark;
		outline: 0 none;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		color: $color-black;
		font-size: 1.5rem;
		margin-top: .2em;
		margin-right: .5em;
	}
	
	.form-type-radio,
	.form-type-checkbox {
		margin-bottom: 0;
		label {
			display: inline-block;
			margin-bottom: 0;
		}
	}
}




/****
 *
 * Select List
 *
 ****/
.form-item.webform-component-select {
	margin-bottom: 1.5rem;
	position: relative;
	text-align: left;
	select {
		-webkit-appearance: none;
		appearance: none;
		background-image: none;
		background-color: #fff;
		background: url(../images/select-arrow.png) no-repeat center right 2rem;
		background-size: 1.2rem auto;
	}
}
